In [1]:
import os
import re
import warnings
warnings.filterwarnings('ignore')
from tqdm import tqdm
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
from khaiii import KhaiiiApi

In [2]:
# df = pd.read_csv('./Data/Khaiii.csv')

names = pd.read_csv('../6.프로젝트/Data/KOSPI_200.csv')[['종목명']]
names = names.replace({'대상':'대상그룹',
                       'NAVER':'네이버'})
names = names.values.reshape(-1).tolist()

In [3]:
data_dic = {}
idx = 0

for curDir, dirs, files in tqdm(os.walk("./NewsData")):
    for f in files:
        try:
            path = os.path.join(curDir, f)
            data = pd.read_csv(path, encoding='cp949')
            data_dic[idx] = data
        except:
            path = os.path.join(curDir, f)
            print(f'========={path} ERROR=========')
        idx += 1

381it [01:01,  6.15it/s]

In [4]:
df = pd.concat(data_dic).reset_index(drop=True)

In [5]:
df['Title_Article'] = df['Title'] + df['Article']

In [6]:
df

,Date,Category,Media,Title,Article,Title_Article
0,2021.02.19. 오후 11:27,증권,한국경제TV,NH증권 하나은행 옵티머스 첫 제재심 결론 못내 내달 일 속개,이민재 금융감독원이 일 옵티머스자산운용 펀드 최대 판매사인 NH투자증권과 수탁사인...,NH증권 하나은행 옵티머스 첫 제재심 결론 못내 내달 일 속개 이민재 금융감독원이 ...
1,2021.02.19. 오후 11:17,증권,한국경제,대어가 될 유망 스팩SPAC 총정리 주코노미TV,미국 증시에서 스팩 SPAC 기업인수목적회사 열풍이 더욱 뜨거워지고 있습니다 특히 ...,대어가 될 유망 스팩SPAC 총정리 주코노미TV미국 증시에서 스팩 SPAC 기업인수...
2,2021.02.19. 오후 10:04,증권,아시아경제,장단기 금리 차 년 만에 최대 개인 순매수세는 지속,이민지 장단기 금리 차가 년 만에 최대 수준으로 벌어졌다 경기회복과 물가 상승에 ...,장단기 금리 차 년 만에 최대 개인 순매수세는 지속 이민지 장단기 금리 차가 년 만...
3,2021.02.19. 오후 9:59,증권,매일경제,블랙록 카카오 지분 매수,전 세계 최대 규모 자산운용사인 블랙록자산운용이 한국 플랫폼 간판주 카카오 지분을 ...,블랙록 카카오 지분 매수전 세계 최대 규모 자산운용사인 블랙록자산운용이 한국 플랫폼...
4,2021.02.19. 오후 9:51,증권,아이뉴스24,금감원 옵티머스 첫 제재심 결론 못냈다 내달 일 재심의,NH투자증권 하나은행 대상 한수연 금융감독원이 옵티머스자산운용 펀드 주요 판매 증권...,금감원 옵티머스 첫 제재심 결론 못냈다 내달 일 재심의NH투자증권 하나은행 대상 한...
...,...,...,...,...,...,...
1584142,2020.09.24. 오전 12:00,증권,로이터 증권(신),스타벅스수정 및 재작성된 회사의 달러 Bln 일 신용 계약 년 월 일 현재,월 일 로이터 스타벅스 주식회사 O 스타벅스 주식회사 년 월 일자로 억 달러의 일...,스타벅스수정 및 재작성된 회사의 달러 Bln 일 신용 계약 년 월 일 현재 월 일 ...
1584143,2020.09.24. 오전 12:00,증권,로이터 증권(신),AAR 분기 주당 손실 보고,월 일 로이터 AAR 주식회사 에어 N AAR은 년 분기 결과를 보고한다,AAR 분기 주당 손실 보고 월 일 로이터 AAR 주식회사 에어 N AAR은 년 분...
1584144,2020.09.24. 오전 12:00,증권,로이터 증권(신),옴니브리지 홀딩스 유닛 중국온홀딩스그룹과 함께 MoU에 진입선전,월 일 로이터 옴니브리지 홀딩스 주식회사 HK UNIT 월 일 중국과 법적 구속력...,옴니브리지 홀딩스 유닛 중국온홀딩스그룹과 함께 MoU에 진입선전 월 일 로이터 옴니...
1584145,2020.09.24. 오전 12:00,증권,로이터 증권(신),화요일 아침 회사는 월 일 채무자들이 파산법원에 제 장에 의거한 조직개편 공동계획안...,월 일 로이터 화요일 아침 회사 t PK 화요일 아침 주식회사 월 일 채무자들은 ...,화요일 아침 회사는 월 일 채무자들이 파산법원에 제 장에 의거한 조직개편 공동계획안...
1584146,2020.09.24. 오전 12:00,증권,로이터 증권(신),Ihai Kerry Arawana Holdinsg 선전의 IPO에 대한 가격 책정,월 일 로이터 Ihai Kerry Arawana Holdings Co Ltd IH...,Ihai Kerry Arawana Holdinsg 선전의 IPO에 대한 가격 책정 ...

In [7]:
article_name = []

for article in tqdm(df['Title_Article']):
    name_dict = {}
    merge_article = article.split(' ')
    
    for name in names:
        name_cnt = 0
        
        if name in article:
            for text in merge_article:
                if name in text:
                    name_cnt += 1
        
        if name_cnt != 0:
            name_dict[name] = name_cnt

    article_name.append(name_dict)

100%|██████████| 1584147/1584147 [04:03<00:00, 6512.67it/s]

In [8]:
label_list = []

for dic in tqdm(article_name):
    if dic == {}:
        label_list.append('None')
    else:
        key = list(dic.keys())
        if key[0] == 'SK' and len(key) > 1:
            if key[1][:2] == 'SK':
                name_num = sorted(dic.items(), key=lambda x : x[1], reverse=True)[1][0]
            else:
                name_num = sorted(dic.items(), key=lambda x : x[1], reverse=True)[0][0]
            label_list.append(name_num)
        
        elif key[0] == 'LG' and len(key) > 1:
            if key[1][:2] == 'LG':
                name_num = sorted(dic.items(), key=lambda x : x[1], reverse=True)[1][0]
            else:
                name_num = sorted(dic.items(), key=lambda x : x[1], reverse=True)[0][0]
            label_list.append(name_num)
                
        else:
            name_num = sorted(dic.items(), key=lambda x : x[1], reverse=True)[0][0]
            label_list.append(name_num)

100%|██████████| 1584147/1584147 [00:01<00:00, 1161011.83it/s]

In [9]:
df['name'] = label_list

In [10]:
df['name'].value_counts()

None        976436
삼성전자         44047
SK           35093
네이버          30327
카카오          24221
             ...
LX인터내셔널          4
신세계인터내셔날         3
아이에스동서           2
LX하우시스           2
두산밥캣             1
Name: name, Length: 186, dtype: int64

In [11]:
names_df = pd.DataFrame(names).reset_index()
names_dict = names_df.drop('index', axis=1).T.to_dict('records')
names_dict = names_dict[0]

def get_key(val, dic):
    for key, value in dic.items():
         if val == value:
            return key
        
df['name_index'] = df['name'].apply(lambda x: get_key(x, names_dict))

df = df[df['name_index'].notnull()]
df = df.reset_index(drop=True)

In [16]:
df.to_csv('DataName.csv', index=False)